h1.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul.Principal {
    list-style:circle;
}
ol.sub1{
    list-style-type: upper-roman;
}
li.Secundario {
    list-style:circle;
}
ol.sub2{
    list-style-type: lower-alpha;
}
li.Tercero{
    list-style:circle;
}